*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
    font-size: 72.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(37, 37, 37)
}

.video {
    position: absolute;
}

.button {
    position: relative;
    padding: 1.2em 1.6em;
    margin-top: 60vh;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: -2px 2px 5px black;
    background: linear-gradient(180deg, rgba(78,78,78,1) 0%, rgba(89,89,89,1) 35%, rgb(107, 107, 107) 100%);
    border-radius: 0.5em;
    box-shadow: 0 5px 5px -6px #fff inset;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color .3s, box-shadow .3s;
    z-index: 5;
}

.select {
    margin-left: 100px;
}

.button::before {
    content: '';
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    box-shadow: 0 5px 4px -5px #fff inset;
    border-radius: 0.5em;
    background-color: transparent;
    border: 2px solid black;
    transition: box-shadow .3s, transform .2s;
    z-index: -5;
}

.button:hover {
    box-shadow: 0 5px 5px -5px #fff inset;
}

.button:active {
    transform: translateY(2px);
    background: linear-gradient(0deg, rgba(78,78,78,1) 0%, rgba(89,89,89,1) 35%, rgb(107, 107, 107) 100%);
}

.button:hover::before {
    box-shadow: 0 5px 4px -4px #fff inset;
    transform: scale(1.05);
}

